SITE_NAME="site-name-adsb"

LAT="-45.000000"
LON="169.000000"
ALT_M="300"

RECEIVER_GAIN="auto"

# FR24 sharing key
# Leave blank for first manual setup
FR24_KEY=""

# ADS-B Exchange UUID
# Leave blank for first manual setup
ADSBX_UUID=""
